[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = http://github.com/sirver/ultisnips
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = http://github.com/tpope/vim-fireplace
[submodule "vim/bundle/vim-classpath"]
	path = vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
